h1.app-title {
    font-size: var(--lumo-font-size-xl);
    padding: var(--lumo-space-s) var(--lumo-space-m);
}

.layout-sidenav {
    padding-left: var(--lumo-space-s);
    padding-right: var(--lumo-space-s);
}

.layout-content-container {
    display: flex;
    width: 100%;
    height: 100%;
    padding: var(--lumo-space-s);
    box-sizing: border-box;
}

vaadin-app-layout {
    background: var(--lumo-shade-20pct);
}

vaadin-app-layout::part(drawer) {
}